.my-custom-scrollbar {
    position: relative;
    height: 330px;
    max-width: 600px;
    margin: 0 auto;
    overflow: auto;
    overflow: scroll;
}

.my-custom-scrollbar2 {
    position: relative;
    height: 620px;
    max-width: 600px;
    margin: 0 auto;
    overflow: auto;
    overflow: scroll;
}

.table-wrapper-scroll-y {
    display: block;
}

td {
    text-align: center;
}

th {
    text-align: center;
}

#cardView {
    margin-top: 50px;
}